doctype html
html(lang='en')
  head
    meta(content="text/html; charset=UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href='/img/favicon.png')
    link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    title HN-Feed
  body
    h1 404
    p Page not found