doctype html
html(lang='en', ng-app="feedApp")
  head
    meta(content="text/html; charset=UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='shortcut icon', href='/img/favicon.png')
    link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", type="text/css", href="css/style.css")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/moment/moment.js")
    script(src="js/feedApp.js")
    script(src="js/services/api.js")
    script(src="js/controllers/postCtrl.js")
    title HN-Feed

  body(ng-controller="feedCtrl as feed").fluid-container

    header.col-xs-12
      .col-xs-10.col-xs-offset-1
        h1 HN-Feed
        h2 We <3 hacker news!

    article.col-xs-10.col-xs-offset-1
        .loading(ng-if="feed.list == null")
          i.glyphicon.glyphicon-repeat

        .alert.alert-info(ng-if="feed.list.length == 0")
          p Ups! There is no data yet
          p Try <code>npm run load-api</code>

        table.table(ng-if="feed.list.length > 0")
          tbody
            tr(ng-repeat="post in feed.list")
              td(ng-click="openLink($event)").col-xs-9
                p {{ post.title || post.story_title }}
                  span.author - {{ post.author }} -
              td(ng-click="openLink($event)").col-xs-2
                span.date {{ getDateLabel(post) }}
              td.col-xs-1
                a(ng-href="{{post.url}}", target="_blank").hide.link
                  i.glyphicon.glyphicon-share
                a(href="#", ng-click="deletePost($event, post._id)").delete
                  i.glyphicon.glyphicon-trash
